#main-navbar{
  background-color: blue;
  position: relative;
  width: 100%;
}

#navbar-container{
  float: left;
  text-align: center;
}

#navbar-container ul {
  padding: 0;
  list-style-type: none;
}

#navbar-container ul li {
  float: left;
  display: block;
}

#sidebar{
  background-color: red;
  position: fixed;
  right: 0%;
  width: 20%;
  height: 100%;
}

#sidebar-container ul {
  padding: 0;
  list-style-type: none;
}

#sidebar-container ul li {
  padding: 15px 0;
}

